/*
 * File:	kCom.css
 * What:	General styles for kCom
 * Author:	Frode Klevstul (klevstul.com)
 * When:	October 2004
 */



/*
 *  Body ++
 * ------------------------------------------------
 */

BODY {
	padding: 15px;

	scrollbar-face-color: #000000;
	scrollbar-arrow-color: #cccccc;
	scrollbar-base-color: #000000;
	scrollbar-shadow-color: #cccccc;
	scrollbar-darkshadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3Dlight-color: #cccccc;
}

BODY,P,TD,TH,H1,H2,H3,UL,PRE {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	margin-top: 0px; 
	margin-bottom: 0px
}

TABLE.border {
	border: 1px;
	border-style: solid;
	border-color: silver;
}

TABLE.noBorder {
	border: 0px;
}

TD.small {
	padding: 0px;
	font-size: 9px;
}

FORM {
	margin-top: 0px; 
	margin-bottom: 0px
}

IMG.border {
	border: 1px;
	border-style: solid;
}


/*
 *  HTML forms fields
 * ------------------------------------------------
 */

TEXTAREA,INPUT,SELECT {
	font-family: Verdana, Helvetica;
	font-size: 12px;
	background: #99CC33;
	color: #000000;
	user-focus: select-all;

	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;

	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	
	border-width: thin;
	
}

INPUT.small {
	font-family: Verdana, Helvetica;
	font-size: 8px;
}

INPUT {
	user-modify: read-only;
	user-focus: select-all;
}

/*
 *  Headings
 * ------------------------------------------------
 */
 
/* 10px -> 7pt -> xx-small */

H1 {
   font-size: 18px
}

H2 {
   font-size: 14px
}

H3 {
   font-size: 10px
}



/*
 *  Links
 * ------------------------------------------------
 */

A.noLine {
	text-decoration: none;
}

A:active {
	color: white;
}

A:hover {
	color: #000000;
	background-color: #CCFF66;
}
